@import 'src/style/home';
@import 'src/style/directory';
@import 'src/style/menu-item';
@import 'src/style/collection-preview';
@import 'src/style/collection-item';
@import 'src/style/header';

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
