@import 'src/style/home';
@import 'src/style/directory';
@import 'src/style/menu-item';
@import 'src/style/collection-preview';
@import 'src/style/collection-item';
@import 'src/style/header';
@import 'src/style/sign-in-and-sign-up';
@import 'src/style/sign-in';
@import 'src/style/sign-up';
@import 'src/style/form-input';
@import 'src/style/custom-button';
@import 'src/style/cart-icon';
@import 'src/style/cart-dropdown';
@import 'src/style/cart-item';
@import 'src/style/checkout';
@import 'src/style/checkout-item';
@import 'src/style/collections-overview';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}
